
@implements IDialogContentComponent<string>

<FluentDialogHeader Title="Scroll With Tab" ShowDismiss="true" />

<FluentDialogBody>
    <FluentTabs Height="62vh" Width="100%">
        <FluentTab Label="Intro">

            <h1>Introduction</h1>
            <p>The "Scroll" tab contains a large document that should cause scrolling
                but the fluent-tab-panel is oversized so the data and the scroll bar
                run off the page.
            </p>
            <p>
                That issue was resolved changing Height="100%" to Height="62vh". But, a second
                issue is that the horizontal scrollbar is placed at the bottom of the content
                rather than the bottom of the tab panel so, you have to scroll to the bottom
                in order to see the horizontal scrollbar.
            </p>
        </FluentTab>
        <FluentTab Label="Scroll">
            <pre>@Content
            </pre>
        </FluentTab>
    </FluentTabs>
</FluentDialogBody>


@code {
    [CascadingParameter]
    public FluentDialog? Dialog { get; set; }

    [Parameter]
    public string Content { get; set; } = string.Empty;
}
